<article class= "art">
  <img src="<%=work.image%>" alt="">
  <h1 class= "titel" ><%=work.titel %></h1>
  <p class= "bleft" ><%=work.beschrijving %></p>
  <date class= "date" ><%=work.Datum %></date>
  <a class="detail" href="/werk/<%=index %>">meer lezen...</a>

</article>
